* {
    --twitter-blue: #1D9BF0;
}
body {
    margin: 0;
}
/* SIGN IN PAGE */
#sign-in-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sign-in-box {
    height: 80vh;
    width: 40vw;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#sign-in-logo {
    height: 25vh;
    width: calc(25vh / 1);
}
#heading-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    width: 100%;
}
#sign-in {
    border: none;
    background-color: rgb(176, 88, 249);
    height: 25%;
    width: 35%;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}
#sign-up {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 40%;
    left: 40%;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 1px solid grey;
}
#upload-picture #user-photo {
    width: 150px;
}
/* HEADER */
#menu {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#logo {
    width: 30%;
}
#menu-options {
    display: flex;
    flex-direction: column;
}
#logo, #menu-options {
    margin: 1rem 1.5rem;
}
/* TWEET DISPLAY */
#app {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
#dashboard {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.likelike {
    width: 20px;
}
#tweet-display {
    height: 60%;
    width: 45%;
}
/* TWEET */
.tweet {
    position: relative;
}
.tweet-btns {
    display: flex;
}
.retweet-div, .like-div {
    height: 5%;
    width: 5%;
}
.like, .retweet {
    height: 90%;
}
#tweet {
    height: 15vh;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}
/* CREATE TWEET */
#create-tweet {
    border-bottom: 1px solid black;
    width: 100%;
}
.submit-tweet {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: var(--twitter-blue);
    color: white;
}
/* RETWEET */
.retweet-pop-up {
    position: absolute;
    z-index: 10;
    border: 1px solid black;
    top: 30%;
    left: 50%;
}
/* PROFILE */
#profile {
    height: 100%;
    width: 40%;
    border: 1px solid grey;
}
#profile-pictures {
    display: flex;
    flex-direction: column;
    position: relative;
}
#profile-pictures > * {
    border: 1px solid grey;
}
#cover-photo {
    height: 150px;
}
#profile #user-photo {
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    top: 60%;
    left: 5%;
}
.profile-picture {
    max-width: 100%;
    overflow: hidden;
    border-radius: 50%;
}