@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    --twitter-blue: #1D9BF0;
    --grey: #f1f5f6;
    --font-grey: #616c74;
    --medium-grey: #CFD9DE;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}
/* SIGN IN PAGE */
#sign-in-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--twitter-blue);
}
#sign-in-container footer {
    position: absolute;
    top: 90%;
}
#sign-in-box {
    height: 50vh;
    width: 40vw;
    border: 1px solid var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--grey);
    border-radius: 20px;
}
#sign-in-logo {
    height: 15vh;
    width: calc(15vh / 1);
    display: flex;
}
#heading-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40%;
    width: 100%;
}
#heading-btn h1 {
    color: var(--font-grey);
}
#sign-in {
    border: none;
    background-color: rgb(176, 88, 249);
    height: 50px;
    width: 35%;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}
#sign-up {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 20%;
    /* Ensure div is centered on page by subtracting 1/2 of its width from middle of the page */
    left: 50%;
    margin-left: -175px;

    height: 400px;
    width: 350px;

    background-color: white;
    border-radius: 20px;
    z-index: 10;
}
#sign-up form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#sign-up button {
    width: 40%;
    align-self: center;
    height: 30px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    background-color: var(--twitter-blue);
    border-radius: 20px;
    color: white;
}
.error {
    font-size: 14px;
    color: red;
}
#upload-picture .user-photo {
    width: 100%;
    display: flex;
    justify-content: center;
}
#upload-picture .profile-picture {
    width: 130px;
}
.notClickable {
    pointer-events: none;
}
.upload-picture-container {
    position: relative;
}
#sign-up label {
    font-size: 14px;
}
/* HEADER */
#header {
    margin: -9px 10px;
}
#menu {
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#logo {
    width: 20%;
}
#menu-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#logo, #menu-options {
    margin: 1rem 1.5rem;
}
.menu-btn {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 20px;
    border: none;
    gap: 10px;

    font-size: 20px;
    background-color: white;
}
.menu-btn:hover {
    background-color: var(--grey);
}
.menu-btn > img {
    width: 25px;
}
.user-icon {
    width: 20px;
}
/* TWEET DISPLAY */
#app {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
#dashboard {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
    position: relative;
}
#tweet-display {
    height: 60%;
    width: 45%;
}
/* TWEET */
#tweet-display {
    width: 100%;
}
.tweet-wrapper {
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    padding: 10px;
}
.tweet {
    position: relative;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
}
.tweet-content {
    display: flex;
}
.tweet-written {
    margin: 0 10px;
    width: 70%;
}
.tweet .user-photo {
    width: 70px;
    height: 70px;
}
.tweet-btns {
    display: flex;
    justify-content: space-around;
}
.user-name-handle {
    display: flex;
    gap: 5px;
}
.retweet-div, .like-div {
    height: 5%;
    display: flex;
    margin: 0 10px;
    align-items: center;
    gap: 5px;
}
#profile .retweet-div, #profile .like-div {
    width: 3.5%;
}
#dashboard .retweet-div, #dashboard .like-div {
    width: 4.8%;
}
.like, .retweet {
    width: 18px;
}
#tweet {
    height: 8vh;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.delete-tweet {
    position: absolute;
    top: 5%;
    left: 95%;
    border: none;
    background-color: white;
    color: var(--font-grey);
}
.tweet-date {
    color: var(--font-grey);
}
/* CREATE TWEET */
#create-tweet {
    border-bottom: 1px solid var(--grey);
    width: 95%;
    padding: 10px;
}
.tweet-options {
    display: flex;
    justify-content: flex-end;
}
.picture-create-tweet {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.picture-create-tweet .user-photo {
    height: 70px;
    width: 70px;
}
.profile-picture {
    max-width: 100%;
    max-height: 100%;
}
.submit-tweet {
    width: 90px;
    height: 38px;
    border-radius: 30px;
    border: none;
    background-color: var(--twitter-blue);
    color: white;
    font-weight: 900;
    font-size: 15px;
}
input:focus {
    outline: none;
}
/* RETWEET */
.retweet-pop-up {
    position: absolute;
    z-index: 10;
    border: 1px solid var(--grey);
    top: 30%;
    left: 40%;
    width: 400px;
    background-color: white;
    border-radius: 20px;
}
.retweet-pop-up .tweet {
    padding: 10px;
    z-index: 10;
    border-radius: 20px;
}
.retweet-pop-up .delete-tweet {
    left: 92%;
}
.retweet-pop-up .tweet-options {
    display: flex;
    justify-content: flex-end;
}
.tweet-written .tweet {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey);
    margin: 5px;
    width: 100%;
    padding: 10px;
    gap: 10px;
}
.tweet-written .delete-tweet {
    display: none;
}
/* PROFILE */
#profile {
    height: 100%;
    width: 50%;
    border: 1px solid var(--grey);
    display: flex;
    flex-direction: column;
}
#profile-pictures {
    display: flex;
    flex-direction: column;
    position: relative;
}
.cover-photo {
    object-fit: cover;
    height: 150px;
    width: 100%;
}
.cover-photo-container {
    height: 150px;
}
#profile-pictures .user-photo {
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    top: 60%;
    left: 2%;
}
.user-photo {
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-picture {
    object-fit: cover;
    clip-path: circle(50%);
    height: 130px;
    width: 130px;
}
.profile-btns {
    max-width: 600px;
}
.follow-btn, .edit-btn {
    border: none;
    height: 50px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 15px;
    background-color: black;
    color: white;
}
.edit-btn {
    background-color: white;
    border: 1px solid var(--medium-grey);
}
.edit-btn:hover {
    background-color: var(--grey);
}
#profile .follow-btn, #profile .edit-btn {
    margin-top: 35px;
    margin-left: 600px;
    width: 25%;
}
#user-info, #followers-following{
    margin-left: 30px;
}
.calendar {
    width: 30px;
}
.font-grey {
    display: flex;
    align-items: center;
    gap: 5px;
}
.font-grey {
    color: var(--font-grey);
}
.follow-display {
    border: none;
    height: 30px;
    font-size: 15px;
    background-color: white;
    margin: 5px;
}
.follow-quantity {
    font-weight: 900;
}
.follow-title {
    color: var(--font-grey);
}
/* SEARCH */
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    height: 40px;
    width: 250px;
    position: absolute;
    left: 100%;
    margin-left: 30px;
    margin-top: 30px;
    background-color: var(--grey);
    padding: 0 10px;
}
.search-icon {
    width: 20px;
}
.search-btn {
    border: none;
    background-color: transparent;
}
.search input {
    border: none;
    width: 210px;
    background-color: var(--grey);
}
/* RECOMMENDED USERS */
#recommended-users {
    margin-top: 100px;
    background-color: var(--grey);
    border-radius: 20px;
    max-height: 500px;
    margin-left: 20px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recommended-user {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.recommended-user .user-photo {
    height: 50px;
    width: 50px;
}
.follow {
    height: 30px;
    width: 80px;
    border: none;
    background-color: var(--twitter-blue);
    border-radius: 20px;
    font-weight: 700;
    color: white;
}
.name {
    font-weight: 700;
}
.name:hover {
    cursor: pointer;
}
/* FOOTER */
footer {
    width: 100%;
    height: 75px;
    justify-content: center;
    gap: 5px;
}
footer, .links {
    display: flex;
    align-items: center;
    gap: 5px;
}
.links {
    max-height: 100%;
}